<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kosst.ebooksstore">

    <application
        android:name="com.example.kosst.ebooksstore.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddBookActivity"
            android:label="@string/title_activity_add_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListBooksActivity"
            android:label="@string/title_activity_list_books"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RemoveBooksActivity"
            android:label="@string/title_activity_remove_books"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdatePriceActivity"
            android:label="@string/title_activity_update"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateRatingActivity"
            android:label="@string/title_activity_update_rating"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>